.box-about-desktop {
    display: none;
}

/* For desktop: */

@media only screen and (min-width: 768px) {
    .box-about-desktop {
        display: block;
        /* 
        padding-top: 120px;
        padding-bottom: 200px; */
        height: auto;
        box-sizing: border-box;
    }
    .box-about-cv-desktop {
        display: flex;
        justify-content: space-between;
    }
    .box-about-cv-text p {
        color: #021130;
        text-align: start;
        padding: 0px 30px 0px 0px;
    }
    .box-about-cv-photo {
        background-color: green;
    }
    .box-about-cv-photo img {
        mix-blend-mode: luminosity;
    }
    .box-about-cv-text {
        background-color: tomato;
    }
    .box-about-cv-note {
        background-color: yellow;
    }
    .box-about-interes-desktop {
        padding: 30px;
        background-color: #021130;
    }
    .box-about-interes-cv-desktop {
        display: flex;        
        justify-content: space-between;
    }
    .box-tag-desktop a:link, .box-tag-desktop a:visited, .box-tag-desktop a:active {
        line-height: 35px;
        font-size: 20px;
        color: #E97451;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 300
    }
    .box-tag-desktop {
        display: block;
        width: 100%;
    }
    /* CvSection*/
    /*  .box-img-photo-desktop img {
        background-color: magenta;
        mix-blend-mode: luminosity;
        width: 120%;
        position: relative;
        margin-bottom: -5px;
        margin-left: -30px;
        margin-top: -40px;
    }
    .box-cv-content-desktop {
        background: rgba(251, 253, 255, 0.7);
        padding: 30px 30px 0px 30px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .box-cv-content-desktop button {
        align-self: start;
        ;
    }
    .box-cv-content-desktop p {
        text-align: right;
        color: #021130;
        padding-right: 15px;
        margin-bottom: 1px;
        font-weight: 100;
        font-size: 20px;
        padding-left: 30px;
    }
    .box-cv-content-desktop span {
        color: #F03700;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Bebas Neue';
        letter-spacing: 3px;
    }
    .box-about-p-desktop {
        padding: 0px 30px 0px 30px;
        font-size: 18px;
        color: #ffffff;
        font-weight: 300;
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 25px;
    }
    .box-about-h2-desktop {
        color: #F03700;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 5px;
        margin-bottom: 15px;
    }
    .box-skills-desktop h2 {
        color: #F03700;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 5px;
        margin-bottom: 15px;
    } */
    .box-about-interes-desktop li {
        color: #ffff;
        padding: 3px;
        font-weight: 100;
        font-size: 18px;
    }
    /* Skills section*/
    .box-skills {
        padding: 30px;
        background-color: #003D5D;
    }
    /* .box-in-skills {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .box-cards-skills {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 15px 0px 0px 0px;
    }
    .box-in-skills-button {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .box-img-skill {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        box-sizing: border-box;
    }
    .box-img-skill img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    } */
}