.box-about {
    padding-top: 120px;
    padding-bottom: 100px;
    height: auto;
    box-sizing: border-box;
}

.box-tag {
    display: block;
    width: 100%;
}

.box-img-about img {
    mix-blend-mode: luminosity;
    border-radius: 150px;
    filter: grayscale(100%);
    width: 55%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-cv-content {
    background-color: #003D5D;
    border-radius: 50px 0px 50px 50px;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.box-cv-content p {
    text-align: start;
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 50px;
}

.box-about-p {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #021130;
    padding: 30px 50px 30px 50px;
}

.box-about-h2 {
    color: #E97451;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 5px;
}

.box-about-interes li {
    color: #021130;
    padding: 3px;
    font-weight: 100;
    font-size: 18px;
}