.box-about {
    padding-top: 120px;
    padding-bottom: 100px;
    height: auto;
    box-sizing: border-box;
}

.box-tag a:link, .box-tag a:visited, .box-tag a:active {
    color: white;
    font-family: 'Assistant';
    font-weight: 100;
    font-size: 18px;
    line-height: 35px;
}

.box-tag {
    display: block;
    width: 100%;
}

/* CvSection*/

.box-img-about img {
    mix-blend-mode: luminosity;
    border-radius: 0px 0px 180px 180px;    
    width: 110%;
    position: relative;
    margin-left: -15px;
    margin-top: -40px;
}

.box-cv-content {
    background: rgba(251, 253, 255, 0.7);
    border-radius: 250px 0px 250px 250px;
    padding: 30px 30px 0px 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

box-cv-content button{
    align-self: start;;
}

.box-cv-content p {
    text-align: right;
    color: #ffffff;
    padding-right: 15px;
    margin-bottom: 1px;
    font-weight: 100;
    font-size: 20px;
    padding-left: 30px;
}

.box-about-p {
    padding: 0px 30px 0px 30px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 25px;
}

.box-about-h2 {
    color: #E97451;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 5px;
}

.box-about-interes li {
    color: #ffffff;
    padding: 3px;
    font-weight: 100;
    font-size: 18px;
}

/* Skills section*/

.box-skills {
    background-color: #003D5D;
    border-radius: 50px 0px 50px 50px;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.box-img-skill img {
    width: 100px;
}