.box-about {
    padding-top: 120px;
    padding-bottom: 200px;
    height: auto;
    box-sizing: border-box;
}

.box-tag a:link, .box-tag a:visited, .box-tag a:active {
    line-height: 35px;
    font-size: 20px;
    color: #E97451;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300
}

.box-tag {
    display: block;
    width: 100%;
}

/* CvSection*/

.box-img-about img {
    mix-blend-mode: luminosity;
    width: 120%;
    position: relative;
    margin-bottom: -5px;
    margin-left: -30px;
    margin-top: -40px;
}

.box-cv-content {
    background: rgba(251, 253, 255, 0.7);
    padding: 30px 30px 0px 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.box-cv-content button {
    align-self: start;
}

.box-cv-content p {
    text-align: right;
    color: #ffffff;
    padding-right: 15px;
    margin-bottom: 1px;
    font-weight: 100;
    font-size: 20px;
    padding-left: 30px;
}

.box-cv-content span {
    color: #F03700;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
}

.box-about-p {
    padding: 0px 30px 0px 30px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 25px;
}

.box-about-h2 {
    color: #F03700;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.box-skills h2 {
    color: #F03700;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.box-about-interes li {
    color: #ffffff;
    padding: 3px;
    font-weight: 100;
    font-size: 18px;
}

/* Skills section*/

.box-skills {
    padding: 30px;
    background-color: #021130;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box-in-skills {
    display: flex;
    justify-content: center;
    margin: auto;
}

.box-cards-skills {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 15px 0px 0px 0px;
}

.box-in-skills-button {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.box-img-skill {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
}

.box-img-skill img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.box-img-skill-desktop {
    display: none;
}

@media only screen and (min-width: 768px) {
    .box-img-skill-desktop {
        display: block;
    }
    .box-skills {
        padding: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .box-cards-skills {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 15px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
    }
    .box-img-skill-desktop {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 70px;
        margin-right: 70px;
        box-sizing: border-box;
    }
    .box-img-skill-desktop img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
    .box-skills h2 {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    /* CvSection*/
    .box-img-about img {
        mix-blend-mode: darken;
        filter: grayscale(1);
        width: 320px;
        position: relative;
        margin-top: -220px;
        margin-bottom: -5px;
        margin-bottom: -5px;
        margin-right: -500px;
    }
    .box-cv-content {
        width: 100%;
        background: transparent;
        padding: 30px 30px 0px 30px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .box-cv-content p {
        position: relative;
        width: 500px;
        text-align: left;
        color: #021130;
        padding: 30px 60px;
        font-weight: 100;
        font-size: 20px;
        background: #FBFDFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px 0px 50px 0px;
        min-height: 130px;
        margin-bottom: -150px;
        margin-left: 80px;
    }
    .box-cv-content span {
        color: #F03700;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Bebas Neue';
        letter-spacing: 3px;
    }
}