.box-about-desktop {
    display: none;
}

/* For desktop: */

@media only screen and (min-width: 768px) {
    .box-about-desktop {
        display: block;
        box-sizing: border-box;
    }
    .box-about-cv-desktop {
        display: flex;
        justify-content: space-between;
        flex-wrap: no-wrap;
        padding-top: 50px;
        min-height: 500px;
    }
    .box-about-cv-text p {
        color: #021130;
        text-align: start;
        padding: 0px 30px 0px 0px;
    }
    .box-about-cv-photo {
        box-sizing: border-box;
        width: 70%;
    }
    .box-about-cv-photo img {
        filter: grayscale(100%);
        mix-blend-mode: luminosity;
        position: relative;
        object-fit: cover;
        /* margin-left: 10px; */
        margin-top: -10px;
        margin-bottom: -50px;
        min-width: 400px;
        z-index: -10000;
    }
    .box-about-cv-text {
        width: 120%;
        box-sizing: border-box;
        align-self: start;
    }
    .box-about-cv-note {
        width: 60%;
        background-color: #021130;
        border-radius: 50px 0px;
        align-self: center;
        margin: 50px;
        padding: 30px;
        box-sizing: border-box;
    }
    .box-about-interes-desktop {
        padding: 30px;
        background-color: #021130;
    }
    .box-about-interes-cv-desktop {
        display: flex;
        justify-content: space-between;
    }
    .box-about-cv-note span {
        font-size: 96px;
        font-family: 'Assistant';
        font-weight: 400;
        color: #ffff;
        line-height: 0;
    }
    .box-about-interes-desktop h2 {
        color: #F03700;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 5px;
        margin-bottom: 15px;
    }
    .box-cv-content-desktop button {
        margin-left: 0px;
    }
    .box-about-interes-desktop li {
        color: #ffff;
        padding: 3px;
        font-weight: 100;
        font-size: 18px;
    }
    .box-about-interes-cv-p {
        width: 100%;
        background: #003D5D;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 50px 50px 50px;
        align-self: center;
        padding: 30px;
    }
    .box-about-interes-cv-ul {
        width: 100%;
        align-self: center;
    }
    .box-about-interes-contacto {
        width: 100%;
        align-self: center;
        padding: 30px;
    }
    /* Skills section*/
    .box-skills {
        padding: 30px;
        background-color: #021130;
    }
}