.box-projects {
    /* background: linear-gradient(360deg, #021130 0%, #003D5D 26.37%, #003D5D 87.4%, #021130 99.29%);    */
    padding-top: 15px;
    padding-bottom: 65px;
    height: auto;
    box-sizing: border-box;
}

.box-cards-projects {
    /* padding-left: 30px;
    padding-right: 30px; */
    box-sizing: border-box;
}

.box-cards-projects p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fffff;
    text-align: start;
}

.box-cards-single:nth-child(odd) {
    background-color: #021130;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 50px;
    /* padding: 15px 15px 15px 35px; */
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 300px;
    margin-right: 60px;
    text-align: center;
    /* border-right: 2.5px solid #4B85AD;
    border-top: 2.5px solid #4B85AD;
    border-bottom: 2.5px solid #4B85AD; */
}

.box-cards-single:nth-child(even) {
    background-color: #021130;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 0px 50px 50px;
    /* padding: 15px 35px 15px 20px; */
    padding-top: 50px;
    margin-top: 35px;
    margin-bottom: 35px;
    min-height: 300px;
    margin-left: 60px;
    text-align: center;
}

.box-cards-single:nth-child(odd) .box-cards-in-single {
    background: rgba(233, 116, 81, 0.8);
    border-radius: 0px 180px 50px 50px;
    min-height: 300px;
    padding-bottom: 30px;
}

.box-cards-single:nth-child(even) .box-cards-in-single {
    background: rgba(233, 116, 81, 0.8);
    border-radius: 180px 0px 50px 50px;
    min-height: 300px;
    padding-bottom: 30px;
}

.box-img-card {
    box-sizing: border-box;
    align-items: center;
}

.box-img-card img {
    width: 75%;
    object-fit: cover;
    position: relative;
    margin-top: -40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.box-cards-tecnologies {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.box-img-icon img {
    width: 25px;
    height: 25px;
    margin: 5px;
    box-sizing: border-box;
}

.box-text-description {
    position: relative;
    top: -10px;
}

.box-cards-single button {
    min-width: 160px;
    border-color: #003D5D;
}