.box-projects {
    background-color: #003D5D;
    padding-top: 15px;
    padding-bottom: 65px;
    height: auto;
    box-sizing: border-box;
}

.box-cards-projects {
    /* padding-left: 30px;
    padding-right: 30px; */
    box-sizing: border-box;
}

.box-cards-projects p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-cards-single:nth-child(odd) {
    background-color: #021130;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 50px;
    padding: 15px 20px 15px 70px;
    margin-top: 35px;
    margin-bottom: 35px;
    min-height: 200px;
    margin-right: 30px;
    text-align: left;
}

.box-cards-single:nth-child(even) {
    background-color: #021130;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 0px 50px 50px;
    padding: 15px 50px 15px 40px;
    margin-top: 35px;
    margin-bottom: 35px;
    min-height: 200px;
    margin-left: 30px;
    text-align: left;
}

.box-img-card {
    box-sizing: border-box;
    align-items: center;
}

.box-img-card img {
    width: 90%;
    object-fit: cover;
}

.box-cards-tecnologies {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.box-img-icon img {
    width: 25px;
    height: 25px;
    margin: 5px;
    box-sizing: border-box;
}

.box-text-description{
    position: relative;
    top: -10px;
}
