.box-projects-desktop {
    display: none;
}

/* For desktop: */

@media only screen and (min-width: 768px) {
    .box-projects-desktop {
        display: block;
        height: auto;
        box-sizing: border-box;
        background-color: #021130;
    }
    .box-cards-projects-desktop {
        box-sizing: border-box;
    }
    .box-cards-projects-desktop p {
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 100;
        color: white;
        text-align: start;
        box-sizing: border-box;
        /* padding-left: 30px; */
        padding-right: 100px;
        font-size: 17px;
        min-height: 100px;
    }
    .box-cards-projects-desktop h2 {
        color: #F03700;
        text-align: start;
        letter-spacing: 5px;
    }
    .box-cards-single-desktop:nth-child(odd) {
        display: flex;
        width: 100%;
        height: 500px;
        margin: 0px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        background-position: center;
        background-blend-mode: exclusion;
        background-color: #021130;
        box-sizing: border-box;
        top: 0;
        right: 0;
        justify-content: flex-end;
        align-items: center;
    }
    .box-cards-single-desktop:nth-child(even) {
        display: flex;
        width: 100%;
        height: 500px;
        margin: 0px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        background-position: center;
        background-blend-mode: exclusion;
        background-color: #021130;
        box-sizing: border-box;
        top: 0;
        left: 0;
        justify-content: flex-start;
        align-items: center;
    }
    .box-cards-single-desktop:nth-child(odd) .box-cards-in-single-desktop {
        background: rgba(2, 17, 48, 0.3);
        width: 50%;
        height: 500px;
        box-sizing: border-box;
        justify-content: center;
        padding-left: 30px;
        padding-top: 200px;
        transition: width 2s;
    }
    .box-cards-single-desktop:nth-child(even) .box-cards-in-single-desktop {
        background: rgba(2, 17, 48, 0.3);
        width: 50%;
        height: 500px;
        box-sizing: border-box;
        justify-content: center;
        padding-left: 30px;
        padding-top: 200px;
        transition: width 2s;
    }
    .box-cards-single-desktop:nth-child(odd) .box-cards-in-single-desktop:hover {
        width: 100%;
    }
    .box-cards-single-desktop:nth-child(even) .box-cards-in-single-desktop:hover {
        width: 100%;
    }
    .box-img-card-desktop {
        box-sizing: border-box;
        display: flex;
        align-self: flex-start;
    }
    .box-img-card-desktop img {
        max-height: 200px;
        object-fit: cover;
        position: absolute;
        margin-top: -150px;
        margin-left: 370px;
        padding: 15px;
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .box-cards-tecnologies-desktop {
        color: white;
        display: flex;
        text-align: center;
        justify-content: start;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .box-img-icon-desktop img {
        width: 25px;
        height: 25px;
        margin: 5px;
        box-sizing: border-box;
    }
    .box-text-description-desktop {
        position: relative;
        top: -10px;
    }
    .box-link-card-desktop {
        display: flex;
        justify-self: start;
        justify-content: start;
    }
    .box-link-card-desktop button {
        margin-right: 50px;
    }
}