.box-menu {    
    /*background: #003D5D;*/
    border-radius: 180px 50px 0px 0px;
    margin-bottom: 0;
    z-index: 1000;
    position: relative;
    margin-top: -50px;
    /* filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25)); */
    /* background-color: #003D5D; */
}

.box-menu-button {
    height: 50px;    
    /*border-radius: 50px 50px 0px 0px;*/
    position: relative;
    margin-top: -50px;
}

.box-menu-dropdown {
    height: 120px;
}

.box-menu-list-extra {
    height: 300px;
    background-color: #003D5D;
}

.box-contacto-section-not-visible {
    background-color: #021130;
    border-radius: 50px 180px 0px 0px;
    padding-top: 30px;
    padding-bottom: 15px;
    position: fixed;
    bottom: 0px;
    height: 250px;
    z-index: 1000;
}

.box-contacto-section-not-visible button {
    margin-top: 18px;
    margin-bottom: 18px;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.box-menu-dropdown li a, .box-menu-dropdown li a, .box-menu-dropdown li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
}

.box-menu-dropdown li a:hover, .box-menu-dropdown li a:focus, .box-menu-dropdown li a:active {
    color: #F03700;
    font-size: 22px;
    font-weight: 900;
    line-height: 35px;
}