.box-menu{
    border-radius: 50px 50px 0px 0px;
}
.box-menu-button{   
    height: 50px;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    margin-top: -50px;
}
.box-contacto-section-not-visible{
    background-color: #021130;
    border-radius: 50px 50px 0px 0px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.box-contacto-section-not-visible button{    
    margin-top: 10px;
    margin-bottom: 10px;
}