.btnLateral-networks {
    position: fixed;
    top: 20px;
    right: 0;
    line-height: 55px;
    background-color: #003D5D;
    color: white;
    text-align: center;
    border-radius: 150px 0px 80px 80px;
    width: 48px;
    height: 130px;
    box-sizing: border-box;
    filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
    padding-top: 30px;
    z-index: 1500;
}

a img {
    width: 32px;
    height: 32px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .btnLateral-networks {
        top: 200px;       
    }
}