.btnLateral-networks {
    position: fixed;
    top: 20px;
    right: 0;
    line-height: 55px;
    background-color: #003D5D;
    color: white;
    text-align: center;
    border-radius: 150px 0px 80px 80px;
    width: 50px;
    height: 140px;
    box-sizing: border-box;
    filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25)); 
    padding-top: 37px;
}

