.father-container {
  text-align: center;
  width: 100%;
  margin: 0;
  background-color: #021130;
  height: 800px;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 120px; /*superior*/
  padding-left: 30px;
  padding-right: 30px
}

h1 {
  font-size: 96px;
  font-family: 'Bebas Neue';
  letter-spacing: 20px;
  font-weight: 400;
  color: #ffffff;
}

h2 {
  font-size: 24px;
  color: #ffffff;
  font-family: 'Bebas Neue';
  letter-spacing: 8px;
}

h3 {
  font-size: 30px;
  color: #4d4d4d;
}

h4 {
  font-size: 20px;
  color: #E97451;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
}